//  Main palette colors
//  http://www.colourlovers.com/palette/127033/1940s_subway_car
@color-red: #9B0505;
@color-floor: #363F3E;
@color-pu2: #637573;
@color-ceiling: #8BA7A3;
@color-walls: #B7DBD7;

// Fonts
@heading-font: 'Raleway', sans-serif;
@primary-font: 'Open Sans', sans-serif;

@font-family__base: @primary-font;
@h1__font-family: @heading-font;
@h1__font-weight: 500;

//  Page  colors
@page__background-color: @color-white;
@sidebar__background-color: @color-pu2;
@primary__color: @color-floor;
@border-color__base: @color-pu2;
@link__color: @color-floor;
@link__hover__color: @color-pu2;

//  Buttons
@button__color: @color-gray20;
@button__background: @color-gray80;
@button__border: 1px solid @border-color__base;

//  Primary button
@button-primary__background: @color-red;
@button-primary__border: 1px solid darken(@color-red, 15%);
@button-primary__color: @color-white;
@button-primary__hover__background: darken(@color-red, 5%);
@button-primary__hover__border: 1px solid @color-pu2;
@button-primary__hover__color: @color-white;

//  Navigation
@navigation-level0-item__color: @color-gray80;
@submenu-item__color: @color-gray80;
@submenu-item__background: @color-floor;

@navigation__background: @color-floor;
@navigation-desktop-level0-item__color: @color-gray80;
@navigation-desktop-level0-item__hover__color: @color-gray34;
@navigation-desktop-level0-item__active__color: @color-pu2;
;

//  Tabs
@tab-control__background-color: @page__background-color;

//  Forms
@form-element-input__background: @color-gray89;
@form-element-input-placeholder__color: @color-gray60;

//  Header
.page-header {
    .panel.wrapper {
        .lib-css(background-color, @color-pu2);
    }
}
@header__background-color: @color-white;
@header-icons-color: @color-pu2;
@header-icons-color-hover: darken(@color-pu2, 5%);

// Footer
@footer__background-color: @color-floor;
@copyright__background-color: darken(@color-floor, 5%);
