//  Main palette colors
//  http://www.colourlovers.com/palette/127033/1940s_subway_car
@color-red: #9B0505;
@color-floor: #363F3E;
@color-pu2: #637573;
@color-ceiling: #8BA7A3;
@color-walls: #B7DBD7;

//  Page  colors
@page__background-color: @color-walls;
@sidebar__background-color: @color-ceiling;
@primary__color: @color-floor;
@border-color__base: @color-pu2;

@link__color: @primary__color;
@link__hover__color: @color-floor;

//  Buttons
@button__color: @color-gray20;
@button__background: @color-gray80;
@button__border: 1px solid @border-color__base;

//  Primary button
@button-primary__background: @color-red;
@button-primary__border: 1px solid @color-pu2;
@button-primary__color: @color-white;
@button-primary__hover__background: darken(@color-red, 5%);
@button-primary__hover__border: 1px solid @color-pu2;
@button-primary__hover__color: @color-white;

//  Navigation
@navigation-level0-item__color: @color-gray80;
@submenu-item__color: @color-gray80;

@navigation__background: @color-red;
@navigation-desktop-level0-item__color: @color-gray80;
@navigation-desktop-level0-item__hover__color: @color-gray34;
@navigation-desktop-level0-item__active__color: @navigation-desktop-level0-item__color;

//  Tabs
@tab-control__background-color: @page__background-color;

//  Forms
@form-element-input__background: @color-gray89;
@form-element-input-placeholder__color: @color-gray60;

//  Header icons
@header-icons-color: @color-gray60;
@header-icons-color-hover: @color-pu2;
