//  Main palette colors
//  http://www.colourlovers.com/palette/127033/1940s_subway_car
@color-red: #9B0505;
@color-floor: #363F3E;
@color-pu2: #637573;
@color-ceiling: #8BA7A3;
@color-walls: #B7DBD7;

// Fonts
@heading-font: 'Raleway', sans-serif;
@primary-font: 'Open Sans', sans-serif;

@font-family__base: @primary-font;
@h1__font-family: @heading-font;
@h1__font-weight: 500;
@h1__font-size-desktop: 24px;

//  Page  colors
@page__background-color: @color-white;
@sidebar__background-color: @color-pu2;
@primary__color: @color-floor;
@border-color__base: @color-pu2;
@link__color: @color-floor;
@link__hover__color: @color-pu2;
@rating-icon__active__color: @color-red;

// PDP
@gallery-thumb-border-color-active: @color-red; //not working?
@gallery-dot-color-active: @color-red; //not working?

//  Buttons
@button__color: @color-gray20;
@button__background: @color-gray80;
@button__border: 1px solid @border-color__base;

//  Primary button
@button-primary__background: @color-red;
@button-primary__border: 1px solid darken(@color-red, 15%);
@button-primary__color: @color-white;
@button-primary__hover__background: darken(@color-red, 5%);
@button-primary__hover__border: 1px solid @color-pu2;
@button-primary__hover__color: @color-white;

//  Navigation
@navigation__background: @color-white;
@navigation-level0-item__color: @color-pu2;
@navigation-level0-item__active__border-color: @color-walls;

@navigation-desktop__background: @color-floor;
@navigation-desktop-level0-item__color: @color-pu2;
@navigation-desktop-level0-item__hover__color: @color-walls;
@navigation-desktop-level0-item__active__color: @color-walls;
@navigation-desktop-level0-item__active__border-color: @color-walls;

//@submenu-item__color: @color-pu2;
@submenu-item__background: @color-white;
@submenu-item__active__border-color: @color-walls;

@submenu-desktop-item__color: @color-pu2;
@submenu-desktop-item__hover__color: @color-floor;
@submenu-desktop-item__active__border-color: @color-walls;

//  Tabs
@tab-control__background-color: @color-walls;

//  Forms
@form-element-input__background: @color-gray89;
@form-element-input-placeholder__color: @color-gray60;

//  Header
@header-panel__background-color: @color-pu2;
@header__background-color: @color-white;
@header-icons-color: @color-pu2;
@header-icons-color-hover: darken(@color-pu2, 5%);

// Footer
@footer__background-color: @color-floor;
@footer-links-color: @color-ceiling;
@footer-links-color-hover: darken(@color-ceiling, 15%);
@copyright__background-color: darken(@color-floor, 5%);
